<h1>Editing the task: {{task.title}}</h1>
<form action="/tasks/editSave" method="post">
    <input type="hidden" name="id" value="{{task.id}}">
    <input type="hidden" name="done" value="{{task.done}}">
    <div class="form-control">
        <label for="title">Type the title:</label>
        <input type="text" name="title" value="{{task.title}}" placeholder="Type a title">
    </div>
    <div class="form-control">
        <label for="description">Type the description:</label>
        <textarea name="description" placeholder="Type the description">{{task.description}}</textarea>
    </div>
    <button class="submit-btn">Edit</button>
</form>